@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
}
.proyects{
  background-image: url(./assets/background.png);
}

@media (min-height:600px) and (max-height:700px) {
  .home{
    padding-top: 70px;
  }
  .home_name{
    font-size: 35px;
    margin-bottom: 5px;
  }
  .home_stack{
    font-size:40px;
  }
  .home_dev{
    font-size: 40px;
    margin-top: 5px;
  }
  .about_p{
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-height:800px) {
  .home{
    padding-top: 240px;
  }
  .home_name{
    font-size: 37px;
    margin-bottom: 5px;
  }
  .home_stack{
    font-size: 45px;
  }
  .home_dev{
    font-size: 45px;
    margin-top: 5px;
  }
  .about_p{
    font-size: 20px;
    line-height: 30px;
  }
}
