@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  overflow:hidden;
}

/* Fondo de la seccion proyectos */
.proyects{
  background-image: url(./assets/background.png);
}


/* Estilo del boton al hacer hover */
.button {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 8rem;
  background-color: #fa8000;
  -webkit-transition: border-radius .2s cubic-bezier(.25, .46, .45, .94),border-color .2s cubic-bezier(.25, .46, .45, .94),background-color .2s cubic-bezier(.25, .46, .45, .94),color .2s cubic-bezier(.25, .46, .45, .94),box-shadow .2s cubic-bezier(.25, .46, .45, .94);
  transition: border-radius .2s cubic-bezier(.25, .46, .45, .94),border-color .2s cubic-bezier(.25, .46, .45, .94),background-color .2s cubic-bezier(.25, .46, .45, .94),color .2s cubic-bezier(.25, .46, .45, .94),box-shadow .2s cubic-bezier(.25, .46, .45, .94);
}


/* query para celular */
@media (min-height:600px) and (max-height:700px) {
  .home{
    padding-top: 70px;
  }
  .home_name{
    font-size: 35px;
    margin-bottom: 5px;
  }
  .home_stack{
    font-size:40px;
  }
  .home_dev{
    font-size: 40px;
    margin-top: 5px;
  }
  .about_p{
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-height:800px) {
  .home{
    padding-top: 240px;
  }
  .home_name{
    font-size: 37px;
    margin-bottom: 5px;
  }
  .home_stack{
    font-size: 45px;
  }
  .home_dev{
    font-size: 45px;
    margin-top: 5px;
  }
  .about_p{
    font-size: 20px;
    line-height: 30px;
  }
}
